{% extends "base.html" %}

{% block body %}

<div class="row-fluid">
	<div class="span2 offset1">
		<p><a href="/"> <b></b>HOME</a> ><a href="/articles/"> <b> </b>ARTICLES</a></p>
	</div>

	<div class="span8 offset2">
		<h1> <a href="{{ article.hyperlink }}"> {{ article.headline }} </a> </h1>
		<img style="float: right; margin: 10px;" src="{{ article.image }}" />
		<p> {{ article.organization }} | {{ article.date }} </p>
		<p> {{ article.description|safe }} </p>
	
		<p><b><a href="{{ article.hyperlink }}">Read the full article ... </a></b></p>
		<hr />
		<p><em> IRE's {% for impact in article.impact.all %} <a href="/impacts/{{ impact.slug}}">{{ impact.name|lower }}</a> {% if not forloop.last %} and {% endif %} {% endfor %} contributed to this investigation.</em></p>

	</div>

</div>

{% endblock %}

