{% extends "base.html" %}

{% block body %}


<div class="row-fluid">
	<div class="offset1 span10 page-header"><h1>Investigations aided by IRE</h1></div>
</div>

		<div id="index-storylist">
					
	                
	            {% for a in articles %}
	            <div class="row-fluid">
	                <div class="span2 offset1">
	                {% if a.image %}
	                <img style="margin-top: 20px;" src=" {{ a.image }} ">
	                {% empty %}
	                {% endif %}
	                </div>

	                <div class="span6">
	                <h4>{{ a.organization }}<br /><a href="/articles/{{ a.slug }}">{{ a.headline }}</a> </h4>
	                <p>{{a.date|date:"M"}}. {{a.date.day}}, {{a.date.year}} | By <em>{{ a.byline}}</em></p>
	                <p>{{ a.description|safe }}<br />
	                <em>IRE contributed:{% for impact in a.impact.all %} <a href="/impacts/{{ impact.slug }}"> {{ impact.name|lower }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</em>
	                </p>
	                <hr />
	            	</div>
	            </div>
	            {% endfor %}
	               
	    </div>
</div>

{% endblock %}