{% extends "impact.html" %}


{% block pagetitle %}

	<br />
	<br />
	<br />
<div class="span3 offset1">
		<p><a href="/impacts/"> <b> <<< </b> BACK TO WHAT WE DO</a></p>
</div>
<div class="row-fluid">
	<div class="offset1 span10 page-header"><h3>Investigations aided by IRE's {{ impacttype|lower }} </h3>
	<p> {{ impacttype.description}} </p></div>
</div>




{% endblock %}



{% block storylist %}
	
	<div class="offset1">
		{% for all in impactlist %}
		<h4><a href="/articles/{{all.slug}}">{{ all.headline }}</a><br />
		{{ all.organization }} </h4>
		{{ all.byline}}, {{all.date}} <br/>
		{{ all.description|safe }}
		<br />
		<br />
		{% endfor %}
	</ul>		
	</div>
{% endblock %}