{% extends "base.html" %}
{% load humanize %}

{% block title %}
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a href="http://ire.org"><img width="140" style="float: left; margin-top: 2px; margin-left: 3px; margin-right: 40px;" src="http://ire.org/media/images/irelogo.png" /></a>
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a class="brand" href="/">Powering investigations</a></li>
                    <li><a href="/impacts/">What we do</a></li>
                    <li><a href="/training/">Where we train</a></li>
                    <li><a href="/articles/">Stories we aided</a></li>
                    <li><a href="/share/">Share with us</a></li>
                    <li><a href="http://ire.org/donate">Support IRE</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
<br />
<br />
<br />

<div class="row-fluid">
    <div class="span10 offset1">
        <br />
        <h1 style="font-size: 36pt;">Powering watchdog journalism</h1>
        <br />
        <p class="lead" style="margin-top: -20px;">IRE's training and tools contribute to investigative reporting around the world. Explore a sample of where we've held training and what stories have been done with IRE's help.</p>
    </div>
</div>

    <div class="row-fluid">
            <div class="span2 offset2 btn-inverse">
                <h1 style="text-align: center;"> {{ trainingtotal|intcomma }} </h1>
                <p style="text-align: center;">Training events held</p>
            </div>
            <div class="span2 offset1 btn-inverse">
                <h1 style="text-align: center;"> {{ attendancetotal|intcomma }} </h1>
                <p style="text-align: center;">Journalists trained</p>
            </div>
            <div class="span2 offset1 btn-inverse">
                <h1 style="text-align: center;"> {{ storytotal }} </h1>
                <p style="text-align: center;">Stories aided</p>
            </div>
    </div>


{% endblock %}

    
{% block body %}

    <div class="row-fluid">
                <div class="span6 offset1">
                    <div class="page-header">
                        <h3>Where we've been</h3>
                        <p style="margin-top: -10px;">Drag or zoom to see locations in your community or abroad since 2008. Click on an icon for details or <a href="/training/">view the map in full screen</a>.</p>
                    </div>
                    <div id="map" style="height:400px; width:100%; box-shadow: 4px 4px 5px #ccc;">

                        <script src='/mapjson/'></script>
                        <script type="text/javascript">

                            var map = L.map('map').setView([38.972180,-96.316170], 3);   
                            L.tileLayer('http://a.tiles.mapbox.com/v3/tonyschick.map-q6ln6vva/{z}/{x}/{y}.png', {
                                maxZoom: 18,
                                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Design © <a href="http://mapbox.com">MapBox</a>'
                            }).addTo(map);

                            /* var coordinates = data.features.geometry.coordinates;

                            L.marker([coordinates]).addTo(map);

                            L.geoJson(someFeatures).addTo(map);

                            */

                            function getPoints(selectObj) {
                                    removeMarkers();
                                    var blackicon = L.icon( {
                                        iconUrl: 'https://dl.dropboxusercontent.com/u/24686053/black-icon.png',
                                        iconSize:     [40, 40],
                                        iconAnchor:   [20, 35],
                                    });

                                    var markers = [];
                                    $.getJSON('/mapjson/', function(data) {
                                        for (var i = 0; i < data.length; i++) 
                                            {

                           

                                                markers.push(L.marker([data[i].lat, data[i].lng]/*,{icon:blackicon}*/).bindPopup(
                                                    "<b>" + '<a href="/training/' + data[i].slug + '">' + data[i].year + ' ' + data[i].type + ' in ' + data[i].city +  '</b>'+ '<br />' + '<a href="/training/' + data[i].slug + '">' + '<b>' + '</a>'), {icon: blackicon});
                                            
                                            //html += '<div class="item">' + '<a href="' + link + '" target="_blank">' + text + '</a></div>';
                                                 
                                        }

                                        var markerLayer = L.layerGroup(markers);
                                        map.addLayer(markerLayer);
                                        activelayers.push(markerLayer);
                                    }); 
                                }

                            var activelayers = [];

                            function removeMarkers() {
                                for (i=0;i<activelayers.length;i++) {
                                    map.removeLayer(activelayers[i]);
                                }
                                activelayers=[];
                            }

                            getPoints();


                        </script>
                    </div>
                    

                    <div class="span12">
                        <h3>Recent events</h3>
                        {% for t in training %}
                        {{t.date.day}}/{{t.date.month}}/{{t.date.year}}<br />
                        <p><a href="/training/{{t.slug}}">{{t.type}} in {{t.city}} </a></p>
                        
                        <hr />
                        {% endfor %}

                        
                        <!--a data-chrome="noheader transparent" data-tweet-limit="3" data-widget-id="362790657254899714" href="https://twitter.com/IRE_NICAR" data-dnt="true" class="twitter-timeline">Tweets by @IRE_NICAR</a></p>
                        <script type="text/javascript">// <![CDATA[
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                        // ]]></script-->
                        <p style="text-align: center;"> — <a href="/training/">VIEW ALL EVENTS</a> — </p> 
                    </div>


                </div>
                
                <div class="span4">
                    <div class="page-header">
                        <h3>Latest articles</h3>
                        <p style="margin-top: -10px;">A sampling of articles journalists credited to IRE's help. <a href="/articles/">View more...</a></p>
                    </div>
                    <div id="index-storylist">
                                {% for a in articles %}
                                <h4><small>{{ a.organization }} | {{ a.date|date:"M d, Y" }}</small><br /><a href="/articles/{{ a.slug }}">{{ a.headline }}</a></h4>
                                <p>By <em>{{ a.byline}}</em></p>
                                <p>{{ a.description|safe }}<br />
                                <em><small>IRE contributed:{% for impact in a.impact.all %} <a href="/impacts/{{ impact.slug }}"> {{ impact.name|lower }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</em></small>
                                </p>
                                <hr />
                                {% endfor %}
                            </ul>
                            <p style="text-align: center;"> — <a href="/articles/">VIEW ALL ARTICLES</a> — </p>       
                    </div>
                </div>

    <div class="row-fluid">
        <div class="span12"></div>
    </div>

    </div>
</div>
</div>


</div>
{% endblock %}





