{% extends "base.html" %}

{% block title %} 
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a href="http://ire.org"><img width="140" style="float: left; margin-top: 2px; margin-left: 2px; margin-right: 40px;" src="http://ire.org/media/images/irelogo.png" /></a>
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a class="brand" href="/">Powering investigations</a></li>
                    <li><a href="/impacts/">What we do</a></li>
                    <li><a href="/training/">Where we train</a></li>
                    <li><a href="/articles/">Stories we helped</a></li>
                    <li><a href="/share/">Share with us</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
</div>

{% endblock %}

    
{% block body %}

<div class="row-fluid">
<div class="container span12">

    <div class="row-fluid">
        <div class="span10 offset1">
            <p class="lead"><em>IRE's training and tools have contributed to hard-hitting journalism around the world. Take a look at where we've trained in the past five years and what stories journalists have done with IRE's help.</em></p>
        </div>
    </div>

    <div class="row-fluid">
                <div class="span6 offset1">
                    <div class="page-header">
                        <h3>Training across the country</h3>
                        <p>Drag or zoom to see locations in your community or abroad. Click on an icon for details.</p>
                    </div>
                    <div id="map" style="height:400px; width:100%; box-shadow: 4px 4px 5px #ccc;">

                        <script src='/mapjson/'></script>
                        <script type="text/javascript">

                            var map = L.map('map').setView([38.972180,-96.316170], 3);                        
                            L.tileLayer('http://a.tiles.mapbox.com/v3/tonyschick.map-q6ln6vva/{z}/{x}/{y}.png', {
                                maxZoom: 18,
                                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
                            }).addTo(map);

                            /* var coordinates = data.features.geometry.coordinates;

                            L.marker([coordinates]).addTo(map);

                            L.geoJson(someFeatures).addTo(map);

                            */
                            function getPoints(selectObj) {
                                    removeMarkers();
                                    var markers = [];
                                    $.getJSON('/mapjson/', function(data) {
                                        for (var i = 0; i < data.length; i++) 
                                            {

                                                
                                                markers.push(L.marker([data[i].lat, data[i].lng]).bindPopup(
                                                    "<b>" + data[i].year + ' ' + data[i].type + ' in ' + data[i].city +  '</b>'+ '<br />' +  '<em> Hosted by ' + data[i].host + '</em>' + '<br />' + '<br />' + '<a href="/training/' + data[i].slug + '">' + '<b>' + 'Learn more about this training' + '</a>' + '</b>'));
                                            
                                            //html += '<div class="item">' + '<a href="' + link + '" target="_blank">' + text + '</a></div>';
                                                 
                                        }

                                        var markerLayer = L.layerGroup(markers);
                                        map.addLayer(markerLayer);
                                        activelayers.push(markerLayer);
                                    }); 
                                }

                            var activelayers = [];

                            function removeMarkers() {
                                for (i=0;i<activelayers.length;i++) {
                                    map.removeLayer(activelayers[i]);
                                }
                                activelayers=[];
                            }

                            getPoints();
                        </script>
                    </div>
                    <div class="span 6 offset 1">
                         <div class="page-header">
                        <h3>Recent mentions</h3>
                        <p>Feedback from journalists and the public on Twitter.</p>
                        </div>
                        <a data-chrome="noheader transparent" data-tweet-limit="3" data-widget-id="362790657254899714" href="https://twitter.com/IRE_NICAR" data-dnt="true" class="twitter-timeline">Tweets by @IRE_NICAR</a></p>
                        <script type="text/javascript">// <![CDATA[
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                        // ]]></script>
                    </div>
                </div>
                
                <div class="span4">
                    <div class="page-header">
                        <h3>Latest articles</h3>
                        <p>Recent work made possible by IRE. <a href="/articles/">View all...</a></p>
                    </div>
                    <div id="index-storylist">
                                {% for a in articles %}
                                <h4><a href="/articles/{{ a.slug }}">{{ a.headline }}</a><br />
                                {{ a.organization }} </h4>
                                <p>By <em>{{ a.byline}},</em> published {{ a.date|date:"M d, Y"  }} </p>
                                <p>{{ a.description|safe }}<br />
                                <em>IRE contributed:{% for impact in a.impact.all %} <a href="/impacts/{{ impact.slug }}"> {{ impact.name|lower }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</em>
                                </p>
                                <hr />
                                {% endfor %}
                            </ul>
                            <p style="text-align: center;"> — <a href="/articles/">VIEW ALL ARTICLES</a> — </p>       
                    </div>
                </div>

    <div class="row-fluid">
        <div class="span12"></div>
    </div>

    </div>
</div>
</div>


</div>
{% endblock %}





