<!-- ##### TRAINING ##### -->
{% extends "base.html" %}


{% block body %}

<style>

.hidden {
    color: red;    
}
</style>

<div class="row-fluid">
	<div class="span10 offset1">

    <div id="map"  style="margin-top: 40px; padding-top: -40px; height: 500px; box-shadow: 4px 4px 5px #ccc;">

                        <!--script src='/mapjson/'></script-->
                        <script type="text/javascript">

                            var workshops = new L.LayerGroup();
                            var conferences = new L.LayerGroup();
                            var bootcamps = new L.LayerGroup();
                            var customtraining = new L.LayerGroup();

                            var map = L.map('map',
                                {scrollWheelZoom: false},
                                {layers: [workshops, conferences, bootcamps, customtraining]}).setView([34.972180,-66.316170], 4);

                            var basemap = L.tileLayer('http://a.tiles.mapbox.com/v3/tonyschick.map-gr9odw8f/{z}/{x}/{y}.png', {
                                maxZoom: 18,
                                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
                            }).addTo(map);

                            {% for t in training_long %}
                            
                            {% if t.type.id == 1 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(workshops);
                            {% elif t.type.id == 2 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(workshops);
                            {% elif t.type.id == 3 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(bootcamps);
                            {% elif t.type.id == 4 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(bootcamps);
                            {% elif t.type.id == 5 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(conferences);
                            {% elif t.type.id == 6 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(conferences);
                            {% elif t.type.id == 7 %}
                            L.marker([{{t.lat}}, {{t.lng}}]).addTo(map).bindPopup('<a href="/training/{{t.slug}}/">{{t.date.year}} {{ t.type }} in {{ t.city }}</a>').addTo(customtraining);
                            {% endif %}
                            {% endfor %}


                            var overlays = {
                                "Workshops": workshops,
                                "Boot camps": bootcamps,
                                "Conferences": conferences,
                                "Custom trainings": customtraining
                            };

                            L.control.layers(null,overlays).addTo(map);

                            var legend = L.control({position: 'topright'});

                            legend.onAdd = function (map) {

                                var div = L.DomUtil.create('div', 'info legend')
                                    div.innerHTML +=
                                        ('<h3 style="font-family: Georgia;">IRE training</h3>' + '<p style="font-family: Georgia;">One of the primary purposes of IRE is educating fellow journalists in the latest techniques of finding, understanding and reporting on stories.</p><p style="font-family: Georgia;"> We are proud to say we have crisscrossed the country with our seminars and workshops and have even reached overseas. Click the layers button above to see different types of training.</p>'/* + '<h4 style="font-family: Georgia;">Latest stops</h4>'{% for t in training %} + '<p style="font-family: Georgia;">{{t.date.month}}/{{t.date.day}}/{{t.date.year}}' + '<br />' + '<a href="/training/{{t.slug}}">{{t.type}} in {{t.city}} </a></p>'{% endfor %} */ );
                                    
                                return div;
                            };

                            legend.addTo(map);

                        </script>

    </div>

<script src="https://dl.dropboxusercontent.com/u/24686053/datatables.js"></script>
<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/24686053/DataTables-1.9.4/media/css/jquery.dataTables.css" />
<script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('#list').dataTable({
                    "iDisplayLength": 15,
                    "aoColumns": [
                    null,
                    null,
                    {"sSortDataType": "date"},
                    null
                ],
                "aaSorting": [[ 2, "desc" ]]

                });
            } );
</script>

</div>

<div class="row-fluid">
<div class="span10 offset1">
    <br />
    <h3>Search IRE's events</h3>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="list" width="100%">
        <thead>
            <tr>
                <th style="width:20%;">City</th>
                <th style="width:20%;">Training Type</th>
                <th style="width:10%;">Date</th>
                <th style="width:50%;">Host</th>
            </tr>
        </thead>
        <tbody>
            {% for t in training_long %}
            <tr >
                <td><a href="/training/{{ t.slug }}/">{{ t.city }}</a></td>
                <td>{{ t.type }}</td>
                <td>{{t.date.month}}/{{t.date.day}}/{{t.date.year}}</td>
                <td style="text-aling: center;"> {{ t.host }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>City</th>
                <th>Training Type</th>
                <th>Date</th>
                <th>Host</th>
            </tr>
        </tfoot>
    </table>
</div>
</div>
<br />
	{% block storylist %}
	{% endblock %}

{% endblock %}