{% extends "base.html" %}

{% block body %}
<br />
<br />
<br />
<div class="row-fluid">
	<div class="span2 offset1">
		<p><a href="/training/"> <b> <<< </b> BACK TO TRAINING</a></p>
	</div>

	<div class="span8 offset2">
		<h1> {{training.type }} in {{ training.city }} </h1>
		<p class="lead"> Held on {{ training.date.day }}/{{training.date.month}}/{{training.date.year}}, Hosted by {{ training.host }} </p>
		<br />
		<div class="row-fluid">
			<div class="span4">
				<div id="map" style="height: 300px; box-shadow: 4px 4px 5px #ccc;">

	                        <script type="text/javascript">

	                            var map = L.map('map').setView([{{training.lat}},{{training.lng}}], 14);
	                            
	                            L.tileLayer('http://a.tiles.mapbox.com/v3/tonyschick.map-xwhuwst2/{z}/{x}/{y}.png', {
	                                maxZoom: 18,
	                                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
	                            }).addTo(map);
	                        </script>
	            </div>
			</div>
			<div class="span8">
				<h1><small>Stories from this training:</small></h1>
				{% for a in training.article.all %}
				<h3><a href="/articles/{{a.slug}}">{{ a.headline }}</a></h3>
				<p>{{ a.description|safe }}
				<hr />
				{% endfor %}
			</div>


	</div>

</div>

{% endblock %}